@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html.dark {
		@apply bg-dark;
	}
	html {
		@apply bg-light;
	}
}

@font-face {
  font-family: "Dank Mono";
  font-weight: 400;
  src: local('Dank Mono'), url("./fonts/DankMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Serif";
  font-weight: 400;
  src: local("IBM Plex Mono"), url("./fonts/IBMPlexSerif-Regular.ttf") format("truetype");
}
